header {
    font-family: var(--header-font);
}
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: left;
}
h1 {
    font-family: var(--header-fosnt);
    font-size: 1.7em;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
legend {
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: 400;
}
fieldset {
    width: 80%;
    margin: 0 auto;
    background-color: var(--fieldset-background);;
    border-radius: var(--border-radius-large);
    border: solid .5px var(--fieldset-border);
    box-shadow: 0 0 10px var(--box-shadow);
}
.inside-form {
    padding: 20px;
}
label {
    font-family: var(--body-font);
    font-size: .8em;
    font-weight: 400;
    padding-top: 100px;
}
input {
    border: solid 1px var(--primary-color);
    border-radius: var(--border-radius-large);
    font-family: var(--body-font);
    font-weight: 400;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
input:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
#languages {
    margin-bottom: 25px;
    padding: 5px;
    width: 90%;
}
.bottom-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
button {
    background-color: var(--fieldset-background);
    border: solid 1px var(--primary-color);
    border-radius: var(--border-radius-large);;
    font-weight: 250;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 0 10px var(--box-shadow);
}
button:hover {
    background-color: var(--primary-color);
    color: white;
}
/* this will hide or show the next/back step  */
.step {
    display: none;
}
.step.active {
    display: block;
}
/* input-error {
    border: 2px solid red;
    background-color: rgb(255, 235, 235);
    color: red;
    font-weight: 400;
    padding: 5px;
} */

@media (min-width: 700px) {
    .bottom-buttons {
        width: 30%;
    }
}