header {
    font-family: var(--header-font);
}
body {
    background-color: rgb(237, 246, 224);
    display: flex;
    flex-direction: column;
    align-items: left;
}
h1 {
    font-family: var(--header-font);
    font-size: 1.7em;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
legend {
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: 400;
}
fieldset {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(250, 252, 242);
    border-radius: 8px;
    border: solid .5px rgb(184, 182, 182);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.inside-form {
    padding: 20px;
}

label {
    font-family: var(--body-font);
    font-size: .8em;
    font-weight: 400;
    padding-top: 100px;
}
input {
    border: solid 1px rgb(0, 0, 0);
    border-radius: 8px;
    font-family: var(--body-font);
    font-weight: 400;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
input:hover {
    background-color: rgb(237, 246, 224);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
#languages {
    margin-bottom: 25px;
    padding: 5px;
    width: 90%;
}
.bottom-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
button {
    background-color: rgb(250, 252, 242);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 250;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: black;
    color: white;
}
/* this will hide or show the next/back step  */
.step {
    display: none;
}
.step.active {
    display: block;
}
/* input-error {
    border: 2px solid red;
    background-color: rgb(255, 235, 235);
    color: red;
    font-weight: 400;
    padding: 5px;
} */

@media (min-width: 700px) {
    .bottom-buttons {
        width: 30%;
    }
}