/* INDEX.CSS */
@import "./partials/variables.css";

main {
    font-family: var(--body-font);
}

.drop-down {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}  

main form {
    padding: 15px;
    background-color: var(--fieldset-background);
    border: solid black 2px;
    border-radius: 10px;
} 

select {
    background-color: var(--background-color);
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
    border-radius: 20px;
    margin: 3px;
}

.resume-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.resume-card {
    justify-self: center;
    border: solid black 2px;
    border-radius: 10px;
    padding: 50px;
    margin: 30px;
    width: 400px;
    height: 250px;
    background-color: var(--fieldset-background);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.motivation-section {
    border: solid black 2px;
    border-radius: 30px;
    padding: 30px;
    margin: 15px;
    background-color: var(--fieldset-background);
}

.motivation {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;   
}

h1 {
    font-family: var(--header-font);
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: var(--fieldset-background);
    padding: 30px;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.modal.show { 
    display: flex;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.resume-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    cursor: pointer;
}

.name {
    font-size: 25px;
    margin-top: 0px;
}

.job {
    font-style: italic;
}

.location {
    font-weight: 200;
}
input.error-placeholder::placeholder, 
textarea.error-placeholder::placeholder {
    color: red !important;
    font-style: italic;
}

@media (max-width: 1350px) {
    .resume-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}

@media (max-width: 850px) {


    .resume-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-content {
        background-color: var(--fieldset-background);
        padding: 30px;
        margin: 0 auto;
        width: 90%;
        height: 100%;
        border-radius: 10px;
        font-size: 90%;
    }
}