.drop-down {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    padding: 15px;
    border: solid black 2px;
    background-color: white;
}

select {
    background-color: lightgray;
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
    border-radius: 20px;
    margin: 3px;
}

.resume-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.resume1, .resume2, .resume3 {
    justify-self: center;
    border: solid black 2px;
    padding: 50px;
    margin: 30px;
}

.motivation-section {
    border: solid black 2px;
    padding: 30px;
    margin: 15px;
}

.motivation {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;   
}

@media (max-width: 768px) {


.resume-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume1, .resume2, .resume3 {
    width: 70%;
    height: 150px;
    border: solid black 2px;
    padding: 30px;
    margin: 15px 0;
    text-align: center;
}
}