header {
    font-family: var(--header-font);
}
body {
    background-color: rgb(237, 246, 224);
    display: flex;
    flex-direction: column;
    align-items: left;
}
h1 {
    font-family: Georgia;
    font-size: 1.7em;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
legend {
    font-family: Helvetica;
    font-size: .9em;
    font-weight: 400;
}
fieldset {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(250, 252, 242);
}
label {
    font-family: Helvetica;
    font-size: .9em;
    font-weight: 400;
    padding-top: 100px;
}
input {
    border: solid 1px rgb(0, 0, 0);
    border-radius: 8px;
    font-family: Helvetica;
    font-weight: 400;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
input:hover {
    background-color: rgb(237, 246, 224);
}
button {
    background-color: rgb(250, 252, 242);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 250;
    cursor: pointer;
    padding: 5px 10px;
}
button:hover {
    background-color: black;
    color: white;
}
/* this will hide or show the next/back step  */
.step {
    display: none;
}
.step.active {
    display: block;
}