a#open-create-account {
    color: green;
    text-decoration: underline;
    font-weight: bold;
}
.home-page #login-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}
.form-page #login-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}
#login-modal.open {
    display: flex;
}
.home-page .login-info-form {
    background-color: #fefefe;
    color: #333;
    padding: 2rem;
    max-width: 500px;
    width: 65%;
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.form-page .login-info-form {
    background-color: #fefefe;
    color: #333;
    padding: 2rem;
    max-width: 500px;
    width: 70%;
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
form {
    border: none;
}
.login-info-form button {
    display: block;
    margin: 1rem auto 0 auto;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
form input {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin-bottom: 1rem;
}

/* X close button */
.close-button {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #aaa;
    font-size: 1.5rem;
}
.close-button:hover {
    color: black;
    cursor: pointer;
}

/* Registration/create account Modal */
#register-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.12);
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}
#register-modal.open {
    display: flex;
}
/* style for home-page */
.home-page .registration-form {
    background-color: #fefefe;
    color: #333;
    padding: 2rem;
    max-width: 500px;
    width: 70%;
    position: relative;
    margin: 15% auto; 
    border: 1px solid #888;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
/* style for form-page */
.form-page .registration-form {
    background-color: #fefefe;
    color: #333;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    position: relative;
    margin: 15% auto; 
    border: 1px solid #888;
    border-radius: 8px;
}
.registration-form button {
    display: block;
    margin: 1.5rem auto 0 auto;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

/* X close button */
.x-button {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #aaa;
    font-size: 1.5rem;
}
.x-button:hover {
    color: black;
    cursor: pointer;
}

/* error styles */
input.error {
    border: 2px solid red;
}
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.25rem;
    display: block;
}
.status-message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.status-message.success {
    color: green;
}
.status-message.error {
    color: red;
}