@import "./variables.css";

.cont-info, .work-entry, .education, .languages, .references, .profile {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.header {
    margin-left: 10%;
}

.cont-info p, .work-entry p, .education p, .languages p, .references p, .profile p {
    margin-top: 0px;
    margin-bottom: 1px;
}

.work-experience h2, .skills h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
}

.skills li {
    text-align: center;
    list-style-position: inside;
}

body {
    background-color:  rgb(237, 246, 224);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: solid black;
}

footer {
    text-align: center;
    background-color: rgb(122, 123, 116);
    color: white;
    font-family: Georgia;
    font-size: 0.7em;
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
}

main {
    font-family: var(--body-font);
}